@media (max-width: 650px) {
    .country-chart {
        flex-direction: column;
        gap: 2rem;
    }

    .country-chart > * {
        width: 80%;
    }
}

@media (max-width: 900px) {
    /* Spinner */
    .lds-roller {
        margin-top: 3rem;
    }
}

@media (orientation: portrait) {
    .rotate-screen-msg {
        display: flex;
    }

    .statistics-container,
    .country-chart,
    .chart-container,
    .lds-roller,
    .down-arrow,
    .radar-country-chart,
    .today-data-chart,
    .latest-data-chart,
    #radar-chart {
        display: none;
    }
}
