* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: prototype;
    src: url(../assets/fonts/Prototype.ttf);
}

html {
    font-size: 62.5%;
    font-family: prototype;
}

body {
    height: 100vh;
}

.bg-container {
    background-image: url(../assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    width: 100%;
    height: 200%;
    position: absolute;
    opacity: 0.15;
}

.statistics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: max-content;
}

.header {
    font-size: 2.5rem;
    padding: 2rem;
    font-weight: 550;
}

.continents-container {
    display: flex;
    gap: 2rem;
}

.selected {
    font-weight: 600;
    color: #b896af;
}

.continent {
    cursor: pointer;
    font-size: 1.5rem;
    position: relative;
}

.country-container {
    display: flex;
    gap: 2rem;
}

.chart-container {
    width: 95%;
    height: 70%;
    margin: 0 auto;
    /* height: 20rem; */
}

#chart {
    width: 80%;
    height: 100vh;
}

.country-dropdown {
    overflow: hidden;
}

.drop-btn {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 1.2rem 1.4rem;
    margin: 0;
    border-radius: 4px;
}

.drop-btn i {
    padding-left: 1rem;
}

.countries-dropdown-content {
    display: none;
    position: absolute;
    width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: scroll;
    height: 30rem;
    scrollbar-width: thin;
}

.scroller::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #333;
}
.scroller::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 4px;
}

.countries-dropdown-content > * {
    background: #333;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.show {
    display: block;
}

/* [data-country] {
    cursor: pointer;
} */

/* Animations */
.continent::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding-right: 3px;
    transition: 250ms ease-in-out;
    width: 100%;
    height: 2px;
    border-bottom: #333 1px solid;
    transform: scaleX(0);
    transform-origin: bottom right;
}
.continent::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    padding-right: 3px;
    transition: 250ms ease-in-out;
    width: 100%;
    height: 2px;
    border-top: #333 1px solid;
    transform: scaleX(0);
    transform-origin: bottom left;
}

.continent:hover::after {
    transform: scaleX(1);
}

.continent:hover::before {
    transform: scaleX(1);
}

.country-chart {
    display: flex;
    width: 50%;
}
