* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: prototype;
    src: url(../assets/fonts/Prototype.ttf);
}

html {
    font-size: 62.5%;
    font-family: prototype;
}

body {
    height: 100vh;
    background-color: #dddfd4;
}

.statistics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: max-content;
}

.header {
    font-size: 2.5rem;
    padding: 2rem;
    font-weight: 550;
}

.continents-container {
    display: flex;
    gap: 2rem;
}

.selected {
    font-weight: 600;
    color: #b896af;
}

.continent {
    cursor: pointer;
    font-size: 1.5rem;
    position: relative;
}

.country-container {
    display: flex;
    gap: 2rem;
}

.chart-container {
    width: 95%;
    height: 70%;
    margin: 0 auto;
    display: none;
}

#chart {
    width: 80%;
    height: 100vh;
    margin-top: 2rem;
}

.country-dropdown {
    overflow: hidden;
}

.drop-btn {
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 1.2rem 1.4rem;
    margin: 0;
    border-radius: 4px;
}

.drop-btn i {
    padding-left: 1rem;
}

.countries-dropdown-content {
    display: none;
    position: absolute;
    width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: scroll;
    height: 30rem;
    scrollbar-width: thin;
}

.scroller::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #333;
}
.scroller::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 4px;
}

.countries-dropdown-content > * {
    background: #333;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.show {
    display: block;
}

.country-chart,
.radar-country-chart {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
    padding-bottom: 4rem;
}

.country-chart > * {
    width: 47.5%;
    height: 70%;
}

.radar-country-chart > * {
    width: 47.5%;
    height: 100%;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
}

.rotate-screen-msg {
    display: none;
    position: absolute;
    background: #dddfd4;
    color: #333;
    width: 100%;
    height: 100vh;
    z-index: 100;
    padding: 0 1rem;
    top: 0;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.error-msg-container {
    position: absolute;
    top: 0;
    z-index: 20;
    font-size: 5rem;
    font-weight: 600;
    display: none;
    background: #dddfd4a8;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.error-msg {
    color: #d8000c;
    background-color: #ffbaba;
    border: 1px solid;

    background-repeat: no-repeat;
    background-position: 1rem center;
    width: 35rem;
    height: 17rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -17rem;
    margin-top: -8rem;
    text-align: center;
    font-size: 2rem;
    line-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0.8;
}

.error-msg i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--close-icon-color);
    cursor: pointer;
}

.error-msg i:hover {
    color: #fff;
    transition: 100ms ease-in-out;
}

#down-arrow {
    position: fixed;
    display: none;
    bottom: 2%;
    left: 50%;
    animation: hvr-wobble-arrow 4s infinite;
}

@keyframes hvr-wobble-arrow {
    8.325% {
        transform: translateY(8px);
    }

    16.67% {
        transform: translateY(-6px);
    }

    25% {
        transform: translateY(4px);
    }

    33.3% {
        transform: translateY(-2px);
    }

    41.625% {
        transform: translateY(1px);
    }

    50% {
        transform: translateY(0);
    }
}

/* Spinner */
.lds-roller {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4rem;
    margin-top: -4rem;
    width: 8rem;
    height: 8rem;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #333;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animations */
.continent::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding-right: 3px;
    transition: 250ms ease-in-out;
    width: 100%;
    height: 2px;
    border-bottom: #333 1px solid;
    transform: scaleX(0);
    transform-origin: bottom right;
}
.continent::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    padding-right: 3px;
    transition: 250ms ease-in-out;
    width: 100%;
    height: 2px;
    border-top: #333 1px solid;
    transform: scaleX(0);
    transform-origin: bottom left;
}

.continent:hover::after {
    transform: scaleX(1);
}

.continent:hover::before {
    transform: scaleX(1);
}
