* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

.container {
    max-width: 120rem;
    height: 40rem;
    margin: 0 auto;
    /* height: 20rem; */
}
